
<canvas id="joystick" #joystick width="200" height="200"></canvas>
<!-- <canvas id="background" width="800" height="800" style="background: violet"></canvas> -->
<!-- <input type="text" #input> -->
<!-- <p>{{debugTest}}</p> :  -->
<!-- <h4>direction : {{StickStatus.cardinalDirection}}</h4>
<h1>{{pressed}}</h1> -->