<div style="border: solid 2px black;width: 350px;height: 350px; position: relative">
    <div *ngIf="buttonSettings == 'close' " style="display: flex; margin:5rem auto ; border: solid 2px red; width: 300px; padding: 2rem 0 ;background: rgba(149, 108, 129, 0.8);"  >
        <h2>{{setting}}</h2>
        <button (click)="clickButton()"> change </button>
    </div>
    <button style="position:absolute; right: .5rem; top: .5rem; padding: .5rem;" (click)="clickButtonSettings()">{{buttonSettings}}</button>
</div>
