:host{
    display: block;
    border: solid 2px black;
    width: 350px;
    /* height: 350px; */
    /* position: absolute; */
    /* top: 200px; */
    /* z-index: 99; */
     background: black;
     color: white
     
}

canvas{
    margin: 0 auto;
    display: block;
    /* border: solid 2px red */
    padding: 1.5rem;
}