canvas{
    display: block;
    
    /* margin: 0 auto */
}
.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canvas1, #textCanvas{
    position: absolute;
}

#canvas1{
    z-index: 1;
}

#settingCanvas{
    z-index: 2;
}

/* #textCanvas{
    z-index: 2;
    display: none;
} */

#score{
    position: absolute;
    z-index: 99;
    top: 1rem;
    left: 1rem;
}





