
<div class="wrapper" style="height: 350px; width: 350px;">
    <canvas #canvas1 id="canvas1"></canvas>
    <!-- <canvas #textCanvas id="textCanvas"></canvas> -->
    <app-settings-screen id="settingCanvas" (changeSetting)="setSetting($event)"></app-settings-screen>
    <app-score id="score"></app-score>
</div>
<!-- <app-joystick *ngIf="controllerType == 'joystick' "></app-joystick>
<app-gamepad *ngIf="controllerType == 'gamepad' "></app-gamepad> -->

<app-gamepad></app-gamepad>